{{#if user.isExist}}
<div class="tm-main-section light-gray-bg">
  <div class="container" id="checkout">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Thông tin nhận hàng</h1>
      </div>
    </section>
    <div>
      <form method="post">
        <div class="checkout-content">
          <div class="checkout-left flex-col">
            <div class="flex-col checkout-item-range">
              <label>Tên</label>
              <div><input type="text" placeholder="Họ Tên" name="name" value="{{user.user.name}}" /></div>
            </div>
            <div class="flex-col checkout-item-range">
              <label>Số điện thoại</label>
              <div><input type="text" placeholder="Vui lòng điền số điện thoại của bạn" name="phone"
                  value={{user.user.phone}} />
              </div>
            </div>
            <div class="total-amount" id="total-checkout">

            </div>
          </div>
          <div class="checkout-right flex-col">
            <div class="flex-col checkout-item-range">
              <label>Địa chỉ nhận hàng</label>
              <div><input type="text" placeholder="Vui lòng nhập địa chỉ" name="detail_address"
                  value="{{user.user.detail}} - {{user.user.district}} - {{user.user.province}}" /></div>
            </div>
            <div class="flex-col choose-address">
              <div class="checkout-item-range text-align_left">
                <label for="address_provinces">Tỉnh/ Thành phố</label>
                <select name="address_provinces" id="address_provinces">
                  <option value="">Vui lòng chọn Tỉnh/ Thành phố</option>
                </select>
                <input class="provinces hide" type="text" value="{{user.user.province}}" />

              </div>
              <div class="checkout-item-range text-align_left">
                <label for="address_district">Quận/ Huyện</label>
                <select name="address_district" id="address_district">
                  <option value="">Vui lòng chọn Quận/ Huyện</option>
                </select>
                <input class="district hide" type="text" value="{{user.user.district}}" />

              </div>
            </div>
            <input class="billing_address_1" name="" type="hidden" value="">
            <input class="billing_address_2" name="" type="hidden" value="">
            <input class="hide" name="customer_id" type="text" value="{{user.user._id}}" readonly />
          </div>
        </div>
        <div class="col mb-2">
          <div class="row">
            <div class="col-sm-12  col-md-6">
              <a href="/cart">
                <button class="btn btn-block btn-light outline btn-lg">Chở về giỏ hàng</button>
              </a>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
              <input type="submit" class="btn btn-lg btn-block btn-success text-uppercase outline"
                value="Xác nhận đơn hàng" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}