<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cafe House</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet'type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/frontend/css/bootstrap.min.css" rel="stylesheet">
  <link href="/frontend/css/font-awesome.min.css" rel="stylesheet">
  <link href="/frontend/css/all.css" rel="stylesheet">
  <link href="/frontend/css/templatemo-style.css" rel="stylesheet" type="text/css">
  <link href="/frontend/css/style.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/frontend/img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <!-- Preloader -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- End Preloader -->
  <div class="tm-top-header">
    <div class="container">
      <div class="row">
        <div class="tm-top-header-inner {{flexCenter}}">
          <div class="tm-logo-container">
            <a href="/">
              <img src="/frontend/img/logo.png" alt="Logo" class="tm-site-logo">
              <h1 class="tm-site-name tm-handwriting-font">Cafe House</h1>
            </a>
          </div>
          <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
          </div>
          {{#if singinup}}
          <nav class="tm-nav">
            <ul>
              <li><a href="/" class="{{#if home }} active {{/if}}">Home</a></li>
              <li><a href="/today-special" class="{{#if todayspecial  }} active {{/if}}">Today Special</a></li>
              <li><a href="/menu" class="{{#if menu }} active {{/if}}">Menu</a></li>
              <li><a href="/contact" class="{{#if contact }} active {{/if}}">Contact</a></li>
              {{#if user.isExist}}
              <li id="menu-account_wrap">
                <a href="/profile"><i class="fas fa-user icon"></i> Hi, {{user.user.name}}</a>
                <ul id="menu-account">
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="">Logout</a></li>
                </ul>
              </li>
              {{else}}
              <li><a href="/sign-in"><i class="fas fa-user icon"></i> Đăng nhập</a></li>
              {{/if}}
            </ul>
          </nav>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{#if showHeader}}
  <section class="tm-welcome-section">
    <div class="container tm-position-relative height-header">
      <div class="tm-lights-container">
        <img src="/frontend/img/light.png" alt="Light" class="light light-1">
        <img src="/frontend/img/light.png" alt="Light" class="light light-2">
        <img src="/frontend/img/light.png" alt="Light" class="light light-3">
      </div>
      {{#if showHeaderContent}}
      <div class="row tm-welcome-content">
        <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="/frontend/img/header-line.png" alt="Line"
            class="tm-header-line">&nbsp;Welcome To&nbsp;&nbsp;<img src="/frontend/img/header-line.png" alt="Line"
            class="tm-header-line"></h2>
        <h2 class="gold-text tm-welcome-header-2">Cafe House</h2>
        <p class="gray-text tm-welcome-description" id="description" style="height: 90px;">
          Every day, across the globe, our partners support the communities in our stores and the neighborhoods we are a
          part of. From open mic nights to service projects to spreading messages of hope, we are making our communities
          stronger.
        </p>
        <a href="#main" class="tm-more-button tm-more-button-welcome">Details</a>
      </div>
      {{/if}}
      {{#if showSingInUp}}
      {{{body}}}
      {{/if}}
      <img src="/frontend/img/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
    </div>
  </section>
  {{/if}}
  {{#if singinup}}
  {{{body}}}
  {{/if}}
  <!-- Cart  -->
  {{#if showCart}}
  <div class="wrap-cart">
    <div class="cart" onclick="loadCart()">
      <a><i class="fas fa-shopping-cart icon-cart"></i></a>
      <div class="cart-notify" id="count-pro-cart">0</div>
    </div>
  </div>
  <!-- popups  -->
  <div class="wrap-popups-cart" style="display: none;" id="popups-cart">
    <div class="text-title">
      <h2>Giỏ hàng</h2>
    </div>
    <div class="dash-popups"><i class="fas fa-minus-circle"></i></div>
    <div class="popups-cart-content">
      <div class="">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" id="tbl-list-cart-img"> </th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col" >Số lượng</th>
                <th scope="col" >Size</th>
                <th scope="col" >Lượng đường</th>
                <th scope="col" >Giá</th>
                <th id="deleteIcon"> </th>
              </tr>
            </thead>
            <tbody id="form-cart">
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-right">
        <a href="/cart">
          <button class="btn btn-lg btn-block btn-success text-uppercase outline">Thanh toán</button>
        </a>
      </div>
    </div>
  </div>
  {{/if}}
  <footer>
    <div class="tm-black-bg">
      <div class="container">
        <div class="row margin-bottom-60">
          <nav class="col-lg-3 col-md-3 tm-footer-nav tm-footer-div">
            <h3 class="tm-footer-div-title">MAIN MENU</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Today special</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Account</a></li>
            </ul>
          </nav>
          <div class="col-lg-5 col-md-5 tm-footer-div">
            <h3 class="tm-footer-div-title">About Us</h3>
            <p class="margin-top-15">
              Chúng tôi là cafe Trung Nguyên nguyên chất 99,99%
            </p>
            <p class="margin-top-15">
              Được thành lập năm 2000
            </p>
          </div>
          <div class="col-lg-4 col-md-4 tm-footer-div">
            <h3 class="tm-footer-div-title">Get Social</h3>
            <p>Liên hệ chúng tôi qua các hình thức sau</p>
            <div class="tm-social-icons-container">
              <a href="#" class="tm-social-icon"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="tm-social-icon"><i class="fab fa-twitter"></i></a>
              <a href="#" class="tm-social-icon"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="tm-social-icon"><i class="fab fa-youtube"></i></a>
              <a href="#" class="tm-social-icon"><i class="fab fa-behance"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="row tm-copyright">
          <p class="col-lg-12 small copyright-text text-center">Copyright &copy; Nhom 3 - Haui</p>
        </div>
      </div>
    </div>
  </footer> <!-- Footer content-->
  <!-- JS -->
  <script type="text/javascript" src="/frontend/js/jquery-1.11.2.min.js"></script> <!-- jQuery -->
  <script type="text/javascript" src="/frontend/js/templatemo-script.js"></script> <!-- Templatemo Script -->
  <script src="/frontend/js/all.js"></script>
  <script src="/frontend/js/index.js"></script>
  <script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      var n = 1;
      var arrTitle = new Array();
      arrTitle[0] = "Every day, across the globe, our partners support the communities in our stores and the neighborhoods we are a part of. From open mic nights to service projects to spreading messages of hope, we are making our communities stronger.";
      arrTitle[1] = "Cafe House template is a mobile-friendly responsive layout by . Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.";
      arrTitle[2] = "Cafe House template is a mobile-friendly responsive layout by . Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.";
      setInterval(function () {
        $("#description").fadeOut(1000, function () {
          $("#description").text(arrTitle[n])
          $("#description").fadeIn(1000);
          n++;
          if (n == 3)
            n = 0;
        })
      }, 4000)
    });
</script>
{{!-- lấy thành phố và huyện  --}}
<script>
$('select[name="address_provinces"]').each(function() {
  var $this = $(this),
  stc = ''
  c.forEach(function(i, e) {
    stc += '<option value="' + i + '">' + i + '</option>'
    $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
    if (address_1 = $('input.provinces').val()) {
      $('select[name="address_provinces"] option').each(function() {
        if ($(this).text() == address_1) {
          $(this).attr('selected', '')
          var str2 = ''
          arr[$(this).index()-1].forEach(function(el) {
              str2 += '<option value="' + el + '">' + el + '</option>'
              $('select[name="address_district"]').html('<option value="">Quận / Huyện</option>' + str2)
            })
        }
      }) 
    }
    $this.on('change', function(i) {
      i = $this.children('option:selected').index() - 1
      var str = '',
      r = $this.val()
      if (r != '') {
        arr[i].forEach(function(el) {
          str += '<option value="' + el + '">' + el + '</option>'
          $('select[name="address_district"]').html('<option value="">Quận / Huyện</option>' + str)
        })
      } else {
        $('select[name="address_district"]').html('<option value="">Quận / Huyện</option>')
      }
    })
  })
})
if (address_2 = $('input.district').val()) {
  $('select[name="address_district"] option').each(function() {
    if ($(this).text() == address_2) {
      $(this).attr('selected', '')
    }
  })
}
  </script>

</body>

</html>